[project]
	description = An SMS based authentication system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shivram Srivastava (shivramsrivastava)
[access "refs/for/refs/*"]
	read = group user/Shivram Srivastava (shivramsrivastava)
	push = group user/Shivram Srivastava (shivramsrivastava)
	label-Code-Review = -2..+2 group user/Shivram Srivastava (shivramsrivastava)
	label-Verified = -1..+1 group user/Shivram Srivastava (shivramsrivastava)
	rebase = group user/Shivram Srivastava (shivramsrivastava)
	removeReviewer = group user/Shivram Srivastava (shivramsrivastava)
	submit = group user/Shivram Srivastava (shivramsrivastava)
[access "refs/heads/*"]
	read = group user/Shivram Srivastava (shivramsrivastava)
	create = group user/Shivram Srivastava (shivramsrivastava)
	push = +force group user/Shivram Srivastava (shivramsrivastava)
	pushMerge = group user/Shivram Srivastava (shivramsrivastava)
[access "refs/tags/*"]
	push = +force group user/Shivram Srivastava (shivramsrivastava)
	pushTag = group user/Shivram Srivastava (shivramsrivastava)
	pushSignedTag = group user/Shivram Srivastava (shivramsrivastava)
